<div>
  <h2>Login with your Google account and start chatting.</h2>

  <%= button_to '/auth/google_oauth2', title: 'Login With Google', method: :post, data: { turbo: false } do %>
    <i class="icon mdi mdi-google"></i>
    <span>Google Login</span>
  <% end %>
</div>
