<div class="has-text-centered mt-6">
  <h2 class="title is-size-6">Login with your Google account and start chating.</h2>

  <%= link_to '/auth/google_oauth2',  method: :post, class: 'button is-rounded', title: 'Login With Google' do %>
    <i class="icon mdi mdi-google"></i>
    <span>Google Login</span>
  <% end %>
</div>
