<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="navbar-item is-size-4 has-text-weight-bold">Wired.chat</h1>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <%= button_to(logout_path, method: :delete, class: 'button') do %>
            <i class="icon mdi mdi-logout"></i>
          <% end if current_user %>
        </div>
      </div>
    </div>
  </div>
</nav>
